*{
    box-sizing: border-box;
}
body{
    background-color: #c6fac6;
}
.container{
    display: flex;
    flex-wrap: wrap;
    padding-right: 250px;
    padding-top: 100px;
    padding-left: 250px;
    
}
header{
    background-color: green;
    flex: 100%;
    text-align: center;
    border-top-left-radius: 30px;
    border: 8px rgb(24, 44, 24);
    border-style: double;
    border-top-right-radius: 30px;
    padding: 13%;
    box-shadow:0 0 10px black;
}
header h1{
    font-size: 50px;
    color: greenyellow;
}
form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#formulario{
    margin-bottom: 10px;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border:none;
    font-size: 13px;
    margin-left: 5px;
    box-shadow: 0 0 10px rgb(59, 255, 150);
    width: 240px;
}
i{
    color: greenyellow;
}
#boton{
    background-color: greenyellow;
    padding: 10px;
    font-size: 13px;
    border-radius: 50px;
    border: none;
}
#boton:hover{
    background-color: rgb(96, 182, 96);
    color: white;
    font-weight: bold;
}
nav{
    background-color: rgb(51, 155, 51);
    flex: 100%;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 10px;
    padding: 5%;
    border: 2px solid black;
    border-top: 2px solid rgb(15, 34, 15);
    border: 5px rgb(121, 214, 155);
    border-style: dashed;
    box-shadow:0 0 10px black;
}
a{
    text-decoration: none;
    color:white; 
    background-color: rgb(8, 82, 33);
    padding: 3px;
    border-radius: 4px;
    width: 60px;
    border: 2px solid black;
    box-shadow: 3px 3px grey;
    font-family: Ink Free;
}
a:hover{
    background-color: greenyellow;
    font-weight: bold;
}
@media(max-width:768px){
    #formulario{
        width: 145px;
    }
}
@media(min-width:769px){
    #formulario{
        width: 150px;
    }
}